<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />


    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_ASSISTED_GPS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.location.gps" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/app_icon_m"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewSmReader"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".reading.ScannerBarcodeActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationPage"
            android:exported="false" />
        <activity
            android:name=".SucessPage"
            android:exported="false" />
        <activity
            android:name=".reading.Checkactivity"
            android:exported="false" />
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Jobservice.CheckJobservice"
            android:exported="true" />
        <activity
            android:name=".reading.PaymetConformBill"
            android:exported="false" />
        <activity
            android:name=".statement.MainActivity"
            android:exported="true" />
        <activity
            android:name=".billing.CashMode"
            android:exported="false" />
        <activity
            android:name=".reading.ReadBIllConfrom"
            android:exported="false" />
        <activity
            android:name=".reading.Billing_throughreading"
            android:exported="false" />
        <activity
            android:name=".Pending"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".RegisterListPage"
            android:exported="true" />
        <activity
            android:name=".RegisterPage"
            android:exported="false" />
        <activity
            android:name=".billing.TakeBillingPage"
            android:exported="false" />
        <activity
            android:name=".billing.BillingProfile"
            android:exported="false" />
        <activity
            android:name=".BillingPage"
            android:exported="false" />
        <activity
            android:name=".reading.ReadConformation"
            android:exported="false" />
        <activity
            android:name=".reading.TakeReadingPage"
            android:exported="false" />
        <activity
            android:name=".reading.ReadProfile"
            android:exported="false" />
        <activity
            android:name=".ReaderPage"
            android:exported="false" />
        <activity
            android:name=".StateMent"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".billing.BillConformPage"
            android:exported="true" />
        <activity
            android:name=".Payment_conformaion_page"
            android:exported="true" />
        <activity
            android:name=".reading.CashMode"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.cspos.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".Jobservice.MyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>